/* App.css */
body {
  background-color: var(violet); /* Set purple background color */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden; /* Hide horizontal overflow */
  display: flex;
  justify-content: center; /* Align content horizontally */
  align-items: center; /* Align content vertically */
  height: 100vh; /* Set full viewport height */
}

.container {
  max-width: 1200px;
  padding: 0 20px;
}

h1, h2, h3 {
  font-weight: bold;
  color: var(lightGreen); /* Set green color for headings */
}

h1 {
  font-size: 36px; /* Increase font size for h1 */
  margin-bottom: 20px; /* Add space below h1 */
}

h2 {
  font-size: 24px; /* Increase font size for h2 */
}

/* Add animation to h1 */
h1 {
  animation: bounce 1s ease infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

/* Add green details */
.details {
  color: var(lightGreen);
}

.details span {
  color: var(black); /* Set black color for details span */
}
